// #famous-pigs{
//     // padding-top: 10vh;
    

//     #famous-pigs-h1{
//         font-family: 'Fira Sans', sans-serif;
//         font-size: 50px;
//         font-weight: bold;
//         text-decoration: none;
//         color: black;
//     }
    
//     #hscroll{
//         position: relative;
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;
//         height: 80vh;
//         padding-bottom: 30%;

//         .famous-pigs-img{
//             height: 100%;
//         }
        
//         .imgdiv{
//             display: flex;
//             flex-direction: column;
//             align-items: center;
            
//             h1{
//                 font-family: 'Fira Sans', sans-serif;
//                     font-size: 40px;
//                     font-weight: bold;
//                     text-decoration: none;
//                     color: black;
//             }
        
//         }




//     }

// }

#famous-pigs{
    padding-top: 10vh;

    #famous-pigs-h1{
        padding-left: 10%;
        font-family: 'Fira Sans', sans-serif;
        font-size: 50px;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }
    
    #hscroll{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 5%;
        // padding-left: 10%;
        // padding-right: 10%;
        padding-bottom: 30%;


        #flex-spacing-1{
            width: 50vw;
            height: 100%;
            background-color: red;
        }
        #flex-spacing-2{
            width: 50vw;
            height: 100%;
            background-color: red;
        }

        .famous-pigs-img{
            width: 30vw;
        }
        
        .imgdiv{
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                font-family: 'Fira Sans', sans-serif;
                    font-size: 40px;
                    font-weight: bold;
                    text-decoration: none;
                    color: black;
            }
        
        }




    }

}