#hero{
    width: 100vw;
    // padding added to ensure that image appears below the header, background color added to ensure white space does not make the header appear too large


    #hero-div{
        padding-top: 10%;
        position: relative;
        display: flex;
        #heroimg{
            width: 100%;
        }

        #halo-div{
            z-index: 3;
            position: absolute;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 53% 20% 27%;
            margin-top: 2%;
            grid-template-areas: ". halo .";

            #halo{
                grid-area: halo;
            }

        }

  

    }
}